{{#x-select action="changeRange"}}
  {{#x-option value="day"}}Last day{{/x-option}}
  {{#x-option value="week"}}Last week{{/x-option}}
  {{#x-option value="month"}}Last month{{/x-option}}
{{/x-select}}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="sortable" {{action "sort" "package"}}>Package Name</th>
      <th>Date range</th>
      <th class="sortable" {{action "sort" "downloads"}}>Downloads</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedModel as |package|}}
      <tr>
        <td>{{package.package}}</td>
        <td>{{moment-format package.start "MMMM Do YYYY"}} - {{moment-format package.end "MMMM Do YYYY"}}</td>
        <td>{{pretty-number package.downloads}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
