<h1 id="title">Downloads in the last {{range}}</h1>

{{#x-select action=(route-action "changeRange") value=range as |xs|}}
  {{#xs.option value="day"}}Last day{{/xs.option}}
  {{#xs.option value="week"}}Last week{{/xs.option}}
  {{#xs.option value="month"}}Last month{{/xs.option}}
{{/x-select}}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="sortable" {{action "sort" "package"}}>Package Name</th>
      <th>Date range</th>
      <th class="sortable" {{action "sort" "downloads"}}>Downloads</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedModel as |package|}}
      <tr>
        <td>{{package.package}}</td>
        <td>{{moment-format package.start "MMMM Do YYYY"}} - {{moment-format package.end "MMMM Do YYYY"}}</td>
        <td>{{pretty-number package.downloads}}</td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="2"><b>Total:</b></td>
      <td>{{pretty-number totalDownloads}}</td>
    </tr>
  </tbody>
</table>
